In [12]:
import pandas as pd
from collections import defaultdict

In [19]:
constituents_path = "/Users/apple/PROJECT/Code_4_SECfilings/sp500_total_constituents_final.csv"
df_final = pd.read_csv(constituents_path)
df_final.shape

(656, 2)

In [16]:
input_file_path = "/Users/apple/PROJECT/hons_project/data/SP500/SEC/SEC_DTM_SP500.parquet"
df = pd.read_parquet(input_file_path)
cik = df['_cik'].unique()
print(cik)

['0001645590' '0000769397' '0000891103' '0000789019' '0000315293'
 '0000773840' '0001666700' '0001579684' '0000876437' '0001281761'
 '0000865752' '0000764180' '0000860731' '0000004962' '0000723125'
 '0000875320' '0001568100' '0001555280' '0000885725' '0000764622'
 '0001402057' '0001267238' '0000106040' '0001393311' '0000031791'
 '0000882095' '0000073124' '0000028412' '0001289490' '0000077360'
 '0000921738' '0000277948' '0001100682' '0000900075' '0000056873'
 '0000829224' '0000066740' '0000857005' '0000815097' '0000014930'
 '0000040704' '0000097745' '0000036104' '0001571949' '0001389170'
 '0000061986' '0000882184' '0001745999' '0000060086' '0001526520'
 '0000723531' '0000052988' '0001101239' '0001053507' '0001075531'
 '0000033213' '0000036270' '0000728535' '0000731802' '0001121788'
 '0000096021' '0000883569' '0001260221' '0000097216' '0000858470'
 '0000746515' '0000051434' '0001783180' '0000701985' '0000319201'
 '0001032208' '0000320187' '0001133421' '0000058492' '0001130310'
 '0000711404' '0001063761' '0000820027' '0000068505' '0001739940'
 '0001276520' '0000831001' '0000872589' '0001521332' '0000093751'
 '0001071739' '0000080424' '0000715957' '0000875045' '0000103379'
 '0001604778' '0001156375' '0001703056' '0000920760' '0000031462'
 '0000004447' '0000085961' '0001280452' '0001754301' '0000352541'
 '0001158449' '0001120193' '0001031296' '0000906107' '0000833444'
 '0000021344' '0000310764' '0000883241' '0001140536' '0000766421'
 '0000927628' '0001590895' '0001065696' '0000794367' '0000713676'
 '0001306830' '0001841666' '0001051470' '0001163165' '0001930313'
 '0000842023' '0001090727' '0000039899' '0001065280' '0000320193'
 '0000062996' '0001093557' '0000723254' '0000060519' '0001037646'
 '0001020569' '0001094285' '0000037996' '0000811156' '0001534701'
 '0000005272' '0001179929' '0001468174' '0000014272' '0001285785'
 '0000096223' '0001004434' '0001274494' '0001113169' '0000062709'
 '0001633917' '0001881551' '0001140859' '0001728205' '0001037038'
 '0000731766' '0000100493' '0000897723' '0000064803' '0000912242'
 '0001108524' '0001781335' '0000010456' '0000093556' '0000740260'
 '0001510295' '0000922864' '0001474735' '0001552275' '0001136893'
 '0001404912' '0001682852' '0000277135' '0000795266' '0000749251'
 '0001018724' '0001513761' '0000006201' '0000092230' '0001578732'
 '0000012927' '0000034088' '0001770450' '0000030697' '0001618921'
 '0001403568' '0000859737' '0001043604' '0001601712' '0000109198'
 '0000910521' '0000884887' '0001045609' '0001318605' '0000084839'
 '0001551152' '0000008670' '0001004980' '0001090872' '0000027419'
 '0001341439' '0001679273' '0000936340' '0001393818' '0001300514'
 '0001585689' '0000075362' '0000814585' '0000318154' '0000821189'
 '0000064040' '0001868275' '0000034903' '0000860730' '0000029905'
 '0000831259' '0001771910' '0000354950' '0000106640' '0001048695'
 '0000766704' '0001170010' '0000018926' '0000943819' '0000072741'
 '0000850209' '0000746838' '0000908255' '0001116132' '0000092380'
 '0001949543' '0000037785' '0000914208' '0000753308' '0000063908'
 '0000055785' '0001489393' '0000079282' '0000874716' '0000732712'
 '0000720005' '0001032033' '0000764478' '0001687229' '0000023217'
 '0000827054' '0001326380' '0001124198' '0000087347' '0000804328'
 '0001616707' '0000059478' '0001720671' '0001725057' '0000100517'
 '0001365135' '0000350698' '0000891024' '0001014473' '0000001800'
 '0001018840' '0001039684' '0001419612' '0000051143' '0000026172'
 '0001058090' '0001037868' '0000012208' '0000093410' '0000072903'
 '0000106535' '0001352010' '0001164727' '0001327811' '0001024478'
 '0000874766' '0000707549' '0001276187' '0001103982' '0001278021'
 '0001012100' '0000202058' '0000072971' '0000866787' '0000049071'
 '0000091142' '0000915389' '0000020286' '0000049196' '0001321655'
 '0001123360' '0000040545' '0000029989' '0000920522' '0000764065'
 '0000018230' '0000065984' '0001652044' '0000046765' '0001045810'
 '0000051644' '0001390777' '0000059558' '0000927653' '0001070750'
 '0001284812' '0001637459' '0001324424' '0001841968' '0001451505'
 '0000021076' '0001821825' '0001262039' '0001410636' '0001681459'
 '0001792044' '0001373715' '0001163739' '0000789570' '0001144215'
 '0001336917' '0000813828' '0000032604' '0001370637' '0000898293'
 '0000316709' '0001058290' '0000896159' '0001283699' '0001746466'
 '0001799208' '0001757898' '0000063754' '0001035267' '0000818479'
 '0000878927' '0000080661' '0000021665' '0000029534' '0000101829'
 '0000045012' '0000915913' '0000898173' '0000004977' '0001297996'
 '0001467858' '0001002910' '0000906709' '0001579241' '0001335258'
 '0001022079' '0001501585' '0000007084' '0001001250' '0000075677'
 '0001065088' '0000909832' '0000105770' '0001627223' '0001609711'
 '0001324404' '0001013237' '0001013462' '0000012659' '0001601046'
 '0000030625' '0001413329' '0000906163' '0000313616' '0001013871'
 '0000822416' '0001551182' '0001021860' '0000759944' '0001137789'
 '0000916076' '0000945841' '0000070318' '0001034054' '0001022671'
 '0001326160' '0000040987' '0000313927' '0001000753' '0001583708'
 '0000091419' '0001384195' '0000097476' '0000745732' '0000315852'
 '0001137774' '0001097149' '0001711269' '0001786842' '0001097864'
 '0001057352' '0000832101' '0001110803' '0000016732' '0001403161'
 '0000024741' '0000879169' '0001858681' '0000089800' '0000086312'
 '0001070412' '0001037540' '0001895262' '0000036966' '0001699150'
 '0000073309' '0001811074' '0001059556' '0000006281' '0000732717'
 '0000812074' '0001286681' '0000935703' '0000800240' '0000310158'
 '0000091440' '0001408198' '0000109380' '0000820313' '0001109357'
 '0000927066' '0000816761' '0000920148' '0001474098' '0001048286'
 '0001048911' '0001086222' '0000882835' '0000874761' '0000027904'
 '0000943452' '0000783325' '0001755672' '0001035002' '0001174922'
 '0001064728' '0001478242' '0001383312' '0000038777' '0000074208'
 '0001069202' '0001466258' '0000922224' '0000092122' '0000028917'
 '0001163302' '0000936468' '0000050863' '0000079879' '0000016918'
 '0000072331' '0001000228' '0001463101' '0001018963' '0001701732'
 '0001585364' '0000070858' '0001596532' '0000046080' '0000008818'
 '0001396009' '0000055067' '0000877212' '0000096943' '0000912595'
 '0001060391' '0000721371' '0001095073' '0000104889' '0001000697'
 '0000078239' '0001659166' '0001111928' '0001437107' '0000009389'
 '0001524472' '0000004127' '0000352915' '0000851968' '0001043277'
 '0001326801' '0000793952' '0001138118' '0001707925' '0000002488'
 '0001819928' '0000702165' '0001069183' '0001041061' '0000912615'
 '0000048465' '0000899689' '0001539838' '0001751788' '0000814453'
 '0000827052' '0000217346' '0001730168' '0000940944' '0000946581'
 '0000072333' '0001393612' '0000018349' '0001050915' '0000886982'
 '0000879101' '0000315213' '0000823768' '0000091576' '0000832428'
 '0000051253' '0000060667' '0000076334' '0001564708' '0001090012'
 '0000895421' '0000024545' '0000832988' '0000216228' '0001701605'
 '0001413447' '0001530721' '0001593538' '0001359841' '0001336920'
 '0001067701' '0000005513' '0000078003' '0000779152' '0001111711'
 '0000047111' '0001590955' '0000858877' '0001675149' '0001126328'
 '0001040971' '0001035443' '0000796343' '0000717423' '0000936395'
 '0000100885' '0000035527' '0001613103' '0001506307' '0000916365'
 '0001099800' '0000887396' '0000004281' '0000002969' '0001817358'
 '0001091667' '0001024305' '0000040533' '0001156039' '0000885639'
 '0001374310' '0000320335' '0000354190' '0000104169' '0000947484'
 '0001621672' '0000910606' '0000815556' '0000906345' '0001535527'
 '0001685040' '0001442145' '0000788784' '0000019617' '0000033185'
 '0000010795' '0000006951' '0000797468' '0001748790' '0001141391'
 '0001385157' '0001418135' '0000315189' '0001328581' '0001705696'
 '0000047217' '0000896878' '0000726728' '0001571996' '0000813672'
 '0000798354' '0001099219' '0000097210' '0001744489' '0000011544'
 '0000042582' '0001136869' '0000049826' '0000063276' '0000077476'
 '0000915912' '0001047862' '0000864749' '0000712515' '0001467373'
 '0001688568' '0000078814' '0000004904' '0000849399' '0001166691'
 '0000899051' '0001818794' '0001002047' '0000107263' '0000200406'
 '0000071691' '0001674862' '0002012383' '0001175454']

In [37]:
df

,Date,_cik,_vol,_ret,_vol+1,_ret+1,united,state,security,exchange,...,sorption,scroll,hermetic,xenon,glassware,preparative,stepwise,chiral,partitioning,craven
0,2015-12-17,0001645590,0.000177,5.310938e-02,0.000265,0.007738,50.0,77.0,142.0,72.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2016-12-15,0001645590,0.000284,-3.527520e-03,0.000106,0.005942,42.0,69.0,126.0,67.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2017-12-15,0001645590,0.000075,-6.130593e-08,0.000418,-0.030667,32.0,65.0,93.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2018-12-12,0001645590,0.000250,5.505984e-02,0.000402,0.010982,27.0,62.0,90.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2019-12-13,0001645590,0.000162,-1.762709e-02,0.000108,0.001864,30.0,77.0,99.0,66.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25920,2009-02-26,0000071691,0.000629,4.228020e-02,0.001480,-0.012180,25.0,39.0,59.0,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25921,2010-02-22,0000071691,0.000026,1.747978e-03,0.000335,0.021170,24.0,38.0,51.0,26.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25922,2024-05-08,0000071691,0.000026,1.255124e-02,0.000443,0.003951,6.0,7.0,95.0,18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25923,2024-08-07,0000071691,0.000164,-2.250305e-02,0.000402,0.025006,6.0,7.0,93.0,18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25924,2024-11-04,0000071691,0.000050,8.961067e-03,0.000192,-0.003951,6.0,7.0,93.0,18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
df_final["CIK"] = df_final["CIK"].apply(lambda x: str(x).zfill(10))
df_final["CIK"] = df_final["CIK"].astype(str)
df_final["CIK"].isin(cik)

0       True
1       True
2       True
3       True
4       True
       ...
651     True
652    False
653     True
654    False
655    False
Name: CIK, Length: 656, dtype: bool

In [34]:
print(len(cik))
cik_to_symbol = defaultdict(str)
filterd_df = df_final[df_final['CIK'].isin(cik)]
filterd_df.shape
filterd_df
firms_dict = filterd_df.set_index('CIK')['Symbol'].to_dict()

614

In [36]:
len(firms_dict)

614

In [33]:
duplicates = filterd_df[filterd_df.duplicated(subset=['CIK'], keep=False)]
duplicates

            CIK Symbol
336  0001652044  GOOGL
338  0001754301    FOX
440  0001564708    NWS
456  0001336917    UAA
615  0001652044   GOOG
633  0001754301   FOXA
634  0001564708   NWSA
653  0001336917     UA

In [7]:
print(len(cik))

614

In [ ]:
input_file_path = "/Users/apple/PROJECT/hons_project/data/SP500/analysis_reports/dtm/analysis_report_DTM_SP500.parquet"
df = pd.read_parquet(input_file_path)
cik = df['_cik'].unique()
print(cik)

['0001326380' '0001124198' '0000087347' '0000804328' '0000059478'
 '0001725057' '0000100517' '0001932393' '0001365135' '0000350698'
 '0000891024' '0001014473' '0000001800' '0001018840' '0001039684'
 '0001419612' '0000051143' '0000026172' '0001058090' '0001037868'
 '0000012208' '0000093410' '0000072903' '0000106535' '0001352010'
 '0001164727' '0001327811' '0001024478' '0000874766' '0000707549'
 '0001103982' '0001278021' '0001012100' '0000202058' '0000072971'
 '0000866787' '0000049071' '0000091142' '0000915389' '0000020286'
 '0000049196' '0001321655' '0001123360' '0000040545' '0000029989'
 '0000827054' '0001645590' '0000769397' '0000891103' '0000789019'
 '0000315293' '0000773840' '0001666700' '0000876437' '0001281761'
 '0000865752' '0000764180' '0000860731' '0000004962' '0000723125'
 '0000875320' '0001555280' '0000885725' '0000764622' '0001402057'
 '0001267238' '0000106040' '0001393311' '0000031791' '0000882095'
 '0000073124' '0000028412' '0001289490' '0000077360' '0000921738'
 '0000277948' '0001100682' '0000900075' '0000765880' '0000056873'
 '0000066740' '0000857005' '0000815097' '0000014930' '0000040704'
 '0000097745' '0001571949' '0001389170' '0000061986' '0000882184'
 '0001745999' '0001674862' '0001748790' '0001141391' '0001385157'
 '0001418135' '0000315189' '0001280452' '0001754301' '0000352541'
 '0001158449' '0001120193' '0001031296' '0000906107' '0000833444'
 '0000021344' '0000310764' '0000883241' '0001375365' '0001140536'
 '0000766421' '0001944048' '0000927628' '0001590895' '0001065696'
 '0000794367' '0000713676' '0001306830' '0001841666' '0001051470'
 '0001163165' '0000842023' '0001090727' '0000039899' '0001065280'
 '0000320193' '0000062996' '0001093557' '0000723254' '0000060519'
 '0001037646' '0001020569' '0001175454' '0001094285' '0000037996'
 '0000811156' '0001534701' '0000005272' '0001179929' '0000014272'
 '0001067701' '0000005513' '0000078003' '0000779152' '0001111711'
 '0000047111' '0001590955' '0001327567' '0000858877' '0001126328'
 '0001040971' '0001035443' '0000796343' '0000717423' '0000936395'
 '0000100885' '0000035527' '0001613103' '0001506307' '0000916365'
 '0001099800' '0000004281' '0000002969' '0001091667' '0001024305'
 '0000040533' '0001156039' '0000885639' '0001374310' '0000320335'
 '0000354190' '0000104169' '0000947484' '0000910606' '0000815556'
 '0000906345' '0001535527' '0001685040' '0001442145' '0000788784'
 '0000019617' '0000033185' '0000010795' '0000006951' '0000797468'
 '0001285785' '0000096223' '0001004434' '0001274494' '0001113169'
 '0000018230' '0000065984' '0001652044' '0000046765' '0001045810'
 '0000051644' '0001390777' '0000059558' '0000927653' '0001070750'
 '0001637459' '0001324424' '0001451505' '0000021076' '0001821825'
 '0001262039' '0001410636' '0001681459' '0001792044' '0001373715'
 '0001163739' '0000789570' '0001144215' '0001336917' '0000813828'
 '0000032604' '0001370637' '0000898293' '0000316709' '0001058290'
 '0000896159' '0001283699' '0001757898' '0000063754' '0001035267'
 '0000818479' '0000878927' '0000080661' '0000021665' '0000029534'
 '0000101829' '0001692819' '0000085961' '0001703399' '0000062709'
 '0001633917' '0001140859' '0001037038' '0000731766' '0000100493'
 '0000897723' '0000064803' '0000912242' '0001108524' '0001964738'
 '0001559720' '0001781335' '0001996810' '0000010456' '0000093556'
 '0000740260' '0001510295' '0000922864' '0001474735' '0001552275'
 '0001136893' '0001404912' '0001682852' '0000277135' '0000795266'
 '0000749251' '0001018724' '0001513761' '0001996862' '0000006201'
 '0000092230' '0000012927' '0000034088' '0001770450' '0000030697'
 '0001618921' '0001403568' '0000859737' '0001043604' '0001601712'
 '0000109198' '0000910521' '0000884887' '0001326801' '0000793952'
 '0001138118' '0001512920' '0001705696' '0000047217' '0000896878'
 '0000726728' '0000813672' '0000798354' '0001099219' '0000097210'
 '0001744489' '0000011544' '0000042582' '0001136869' '0001967680'
 '0000049826' '0000063276' '0000077476' '0000915912' '0001047862'
 '0000864749' '0000712515' '0001467373' '0001688568' '0000078814'
 '0000004904' '0000849399' '0001166691' '0000899051' '0001002047'
 '0000107263' '0000200406' '0000071691' '0001045609' '0001318605'
 '0000084839' '0001551152' '0000008670' '0001004980' '0001707925'
 '0000702165' '0001069183' '0001041061' '0000912615' '0000048465'
 '0000899689' '0001539838' '0001751788' '0000814453' '0000827052'
 '0000217346' '0001730168' '0000940944' '0000946581' '0000072333'
 '0001619762' '0001393612' '0000018349' '0001050915' '0000886982'
 '0000879101' '0000315213' '0000823768' '0000091576' '0000832428'
 '0000051253' '0000060667' '0000076334' '0001564708' '0001090012'
 '0000895421' '0000024545' '0000832988' '0000216228' '0001701605'
 '0001413447' '0001530721' '0001593538' '0001359841' '0001336920'
 '0001145197' '0001097149' '0001711269' '0001090872' '0000027419'
 '0001341439' '0001679273' '0000936340' '0001300514' '0001585689'
 '0000075362' '0000814585' '0000821189' '0000064040' '0001868275'
 '0000034903' '0000860730' '0000029905' '0000831259' '0000354950'
 '0000106640' '0001048695' '0000766704' '0001170010' '0000018926'
 '0000943819' '0000072741' '0000850209' '0000746838' '0000908255'
 '0001116132' '0001670541' '0000092380' '0000037785' '0000914208'
 '0000753308' '0000063908' '0000055785' '0001489393' '0000079282'
 '0000874716' '0000732712' '0000720005' '0001032033' '0000764478'
 '0001687229' '0000023217' '0000920522' '0000764065' '0000060086'
 '0001526520' '0000723531' '0000052988' '0001101239' '0001053507'
 '0001075531' '0000033213' '0000036270' '0000728535' '0000731802'
 '0001121788' '0000096021' '0000883569' '0001260221' '0000097216'
 '0000858470' '0000746515' '0000051434' '0001783180' '0000701985'
 '0000319201' '0001032208' '0000320187' '0001133421' '0000058492'
 '0001130310' '0000711404' '0001063761' '0000820027' '0000068505'
 '0001739940' '0001276520' '0000831001' '0000872589' '0001521332'
 '0000093751' '0001071739' '0000080424' '0000715957' '0000875045'
 '0000103379' '0001604778' '0001156375' '0000920760' '0000031462'
 '0000004447' '0001755672' '0001035002' '0001174922' '0001478242'
 '0001383312' '0001543151' '0000074208' '0001069202' '0001466258'
 '0000922224' '0000092122' '0000028917' '0001163302' '0000936468'
 '0000050863' '0000079879' '0000016918' '0000072331' '0001000228'
 '0001463101' '0001018963' '0001585364' '0000070858' '0001596532'
 '0000046080' '0000008818' '0001396009' '0000055067' '0000877212'
 '0000096943' '0000912595' '0001060391' '0000721371' '0001095073'
 '0000104889' '0001000697' '0000078239' '0001316835' '0001659166'
 '0001111928' '0001437107' '0000009389' '0001524472' '0000004127'
 '0000352915' '0000851968' '0001043277' '0000045012' '0000915913'
 '0000898173' '0000004977' '0001297996' '0001786842' '0001097864'
 '0001057352' '0000832101' '0001110803' '0000016732' '0001403161'
 '0000024741' '0000879169' '0001858681' '0000089800' '0000048898'
 '0000086312' '0001070412' '0001037540' '0000036966' '0001699150'
 '0000073309' '0001811074' '0001059556' '0000006281' '0000732717'
 '0000812074' '0001286681' '0000935703' '0000800240' '0000310158'
 '0000091440' '0001408198' '0000109380' '0000820313' '0001109357'
 '0000927066' '0000816761' '0000920148' '0001048286' '0001048911'
 '0001086222' '0000882835' '0000874761' '0000027904' '0000943452'
 '0000783325' '0001467858' '0001002910' '0000906709' '0001579241'
 '0001335258' '0001022079' '0001501585' '0000007084' '0001001250'
 '0000075677' '0001065088' '0000909832' '0000105770' '0002012383'
 '0001595761' '0001609711' '0001324404' '0001013237' '0001013462'
 '0000814547' '0000012659' '0001601046' '0000030625' '0001413329'
 '0000906163' '0000313616' '0001013871' '0000822416' '0001551182'
 '0001021860' '0000759944' '0001137789' '0000916076' '0000945841'
 '0000070318' '0001034054' '0001022671' '0001326160' '0000040987'
 '0000313927' '0001583708' '0000091419' '0000097476' '0000745732'
 '0000315852' '0001137774']

In [38]:
path = "/Users/apple/PROJECT/hons_project/data/SP500/SEC/SEC_DTM_SP500.parquet"
df = pd.read_parquet(path)
df.shape

(25925, 14137)

In [41]:
df.head(100).to_parquet("/Users/apple/PROJECT/hons_project/data/SP500/SEC/SEC_DTM_SP500_100.parquet")

In [1]:
CONSTITUENTS_PATH = "/Users/apple/PROJECT/Code_4_SECfilings/sp500_total_constituents_final.csv"
INPUT_FILE_PATH = "/Users/apple/PROJECT/hons_project/data/SP500/SEC/SEC_DTM_SP500.parquet"
OUTPUT_FILE_PATH = "/Users/apple/PROJECT/hons_project/data/SP500/SEC/SEC_DTM_SP500_2.parquet"

df_final = pd.read_csv(CONSTITUENTS_PATH)
df_final["CIK"] = df_final["CIK"].astype(str).str.zfill(10)  # Zero-pad CIK


df_dtm = pd.read_parquet(INPUT_FILE_PATH)
print(df_dtm.shape)

NameError: name 'pd' is not defined

In [25]:
import pandas as pd

# Example DataFrame
data = {
    'AAPL': [0.01, 0.02],
    'MSFT': [0.03, 0.04]
}
df = pd.DataFrame(data, index=['2023-01-01', '2023-01-02'])


# Example DataFrame
data2 = {
    'AAPL': [0.21, 0.022],
    'MSFT': [0.23, 0.04]
}
df2 = pd.DataFrame(data2, index=['2023-01-01', '2023-01-02'])
print(df)
print(df.stack())
print('-----------------')
print(df2)
print(df2.stack())

            AAPL  MSFT
2023-01-01  0.01  0.03
2023-01-02  0.02  0.04
2023-01-01  AAPL    0.01
            MSFT    0.03
2023-01-02  AAPL    0.02
            MSFT    0.04
dtype: float64
-----------------
             AAPL  MSFT
2023-01-01  0.210  0.23
2023-01-02  0.022  0.04
2023-01-01  AAPL    0.210
            MSFT    0.230
2023-01-02  AAPL    0.022
            MSFT    0.040
dtype: float64

In [22]:
df_add = pd.concat([df.stack(), df2.stack()], axis=1).reset_index()

In [76]:
df_add_path = "/Users/apple/PROJECT/hons_project/df_add.csv"
df_add = pd.read_csv(df_add_path)
df_add.head()

   Unnamed: 0        Date  level_1         0         1
0           0  2000-01-03   832988 -0.015625  0.000240
1           1  2000-01-03  1652044  0.079828  0.002368
2           2  2000-01-03   100885  0.014409  0.000196
3           3  2000-01-03    92122 -0.002656  0.000109
4           4  2000-01-03   717423 -0.006515  0.000034

In [71]:
test_path = "/Users/apple/PROJECT/hons_project/x1_debug_ret.csv"
test_path2 = "/Users/apple/PROJECT/hons_project/x2_debug_col.csv"
x1_test_ret = pd.read_csv(test_path)
x2_test_col = pd.read_csv(test_path2)
print(x1_test_ret.head())
x2_test_col.head()

   Unnamed: 0  0001949543  0000070318  0000702165  0000899051  0000766421  \
0         NaN     0.00000    0.000000    0.000000    0.000000    0.000000
1        Date         NaN         NaN         NaN         NaN         NaN
2  2000-01-03     0.00209    0.052922   -0.006192   -0.010471   -0.021353
3  2000-01-04     0.00209    0.091434    0.057331    0.007969   -0.011613
4  2000-01-05     0.00209    0.145889    0.021374    0.063179    0.035277

   0000018230  0000097476  0000858470  0001404912  ...  0001065280  \
0    0.000000    0.000000    0.000000    0.000000  ...    0.000000
1         NaN         NaN         NaN         NaN  ...         NaN
2    0.029699   -0.034508   -0.093755   -0.080281  ...    0.045284
3    0.059869   -0.082098    0.016879   -0.080281  ...    0.045284
4    0.104971   -0.046762    0.088106   -0.080281  ...    0.045284

   0000896878  0001326160  0001163302  0001278021    0000051143  0000023217  \
0    0.000000    0.000000    0.000000    0.000000  0.000000e+00    0.000000
1         NaN         NaN         NaN         NaN           NaN         NaN
2    0.274489    0.019803   -0.056934    0.316098  3.119267e-02   -0.019636
3    0.203253    0.083329    0.010091    0.316098 -4.654314e-07    0.019472
4    0.172009    0.082371    0.033834    0.316098  4.968466e-03    0.035668

   0000879101  0000061986  0000882184
0    0.000000    0.000000    0.000000
1         NaN         NaN         NaN
2   -0.009217   -0.051293   -0.065444
3    0.025502    0.026132   -0.087861
4    0.052691    0.065958   -0.009804

[5 rows x 615 columns]

,Unnamed: 0,0001949543,0000070318,0000702165,0000899051,0000766421,0000018230,0000097476,0000858470,0001404912,...,0001065280,0000896878,0001326160,0001163302,0001278021,0000051143,0000023217,0000879101,0000061986,0000882184
0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,0.000002,0.000779,0.000208,0.000610,0.000205,0.000415,0.001603,0.001432,0.00247,...,0.002389,0.002186,0.000251,0.000454,0.037614,0.000280,0.000307,0.000153,0.000947,0.001462
3,2000-01-04,0.000002,0.000688,0.000242,0.000453,0.000217,0.000413,0.000952,0.001203,0.00247,...,0.002389,0.002842,0.000371,0.000699,0.037614,0.000367,0.000293,0.000101,0.000978,0.001546
4,2000-01-05,0.000002,0.000628,0.000285,0.000632,0.000259,0.000482,0.001071,0.001247,0.00247,...,0.002389,0.010772,0.000698,0.000682,0.037614,0.000802,0.000345,0.000125,0.000907,0.001313

In [72]:
test_path = "/Users/apple/PROJECT/hons_project/x1_debug.csv"
test_path2 = "/Users/apple/PROJECT/hons_project/x2_debug.csv"
x1_test = pd.read_csv(test_path)
x2_test = pd.read_csv(test_path2)
x1_test.head()
x2_test.head()

,Unnamed: 0,0000832988,0001652044,0000100885,0000092122,0000717423,0001745999,0000009389,0001674862,0000006201,...,0000906345,0000922224,0000922864,0000073124,0001137789,0001675149,0000073309,0001666700,0001059556,0001174922
0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,0.000240,0.002368,0.000196,0.000109,0.000034,0.034382,0.000546,0.000139,0.004663,...,0.000353,0.000122,0.000143,0.000321,0.001502,0.000224,0.000142,0.000365,0.000046,0.000192
3,2000-01-04,0.000242,0.002368,0.000273,0.000127,0.000165,0.034382,0.000337,0.000129,0.004663,...,0.000405,0.000279,0.000442,0.000754,0.001502,0.000381,0.000184,0.000282,0.000094,0.000192
4,2000-01-05,0.000142,0.002368,0.000237,0.000143,0.000409,0.034382,0.000536,0.000113,0.004663,...,0.000575,0.000393,0.000374,0.000993,0.001502,0.000340,0.000249,0.000189,0.000281,0.000192

In [47]:
x1_test.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)
x1_test = x1_test.iloc[2:]
x1_test = x1_test.set_index('Date')
x2_test.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)
x2_test = x2_test.iloc[2:]
x2_test = x2_test.set_index('Date')

In [36]:
import pandas as pd
import numpy as np

# Generate test x1 and x2 with same shape
dates = pd.date_range(start="2000-01-03", periods=4, freq='D')
columns = ["0000900075", "0001579684", "0001571996", "0000795266"]

# Simulating x1 and x2 DataFrames with identical structures
x1_test2 = pd.DataFrame(np.random.randn(len(dates), len(columns)), index=dates, columns=columns)
x2_test2 = pd.DataFrame(np.random.rand(len(dates), len(columns)), index=dates, columns=columns)
x1_test2

            0000900075  0001579684  0001571996  0000795266
2000-01-03    1.003737   -1.113630   -0.325540   -1.268088
2000-01-04   -0.168170   -0.642900   -0.981388    0.165210
2000-01-05    0.712935   -0.537477    0.951689    1.004719
2000-01-06    1.971400    0.236054    0.412520   -0.455389

In [55]:


# Print shapes to ensure they are the same
print("x1 shape:", x1_test.shape)
print("x2 shape:", x2_test.shape)
print("x1_test", x1_test)
print("x2_test", x2_test)
# Assert shape equality
assert x1_test.shape == x2_test.shape, "Shapes of x1 and x2 do not match!"

# Check index equality
assert (x1_test.index == x2_test.index).all(), "Indexes of x1 and x2 do not match!"

# Check column equality
assert (x1_test.columns == x2_test.columns).all(), "Columns of x1 and x2 do not match!"
print("x1_test", x1_test.stack())
print("x2_test", x2_test.stack())
# Stack and combine
df_add_test = pd.concat([x1_test.stack(), x2_test.stack()], axis=1).reset_index()

# Rename columns
df_add_test.columns = ["Date", "_cik", "n_ret", "n_vol"]

# Print results for debugging


# Assert expected shape after stacking
# expected_rows = len(dates) * len(columns)  # Since stack() flattens multi-indexed data
# assert df_add_test.shape[0] == expected_rows, "Stacked DataFrame row count does not match expected!"
# assert df_add_test.shape[1] == 4, "Stacked DataFrame column count does not match expected!"

print("Test passed successfully!")

x1 shape: (6291, 614)
x2 shape: (6291, 614)
x1_test             0000832988  0001652044  0000100885  0000092122  0000717423  \
Date
2000-01-03   -0.015625    0.079828    0.014409   -0.002656   -0.006515
2000-01-04    0.007692    0.079828   -0.025826    0.047628   -0.015352
2000-01-05    0.044952    0.079828    0.057803    0.069361    0.028924
2000-01-06    0.026467    0.079828    0.052382    0.065382    0.057036
2000-01-07   -0.014815    0.079828    0.052383    0.010178    0.054823
...                ...         ...         ...         ...         ...
2024-12-27    0.012151   -0.013819    0.005276    0.005185   -0.002439
2024-12-30   -0.000976   -0.012445    0.005889    0.009912   -0.002787
2024-12-31   -0.000867   -0.002229   -0.000614   -0.005693    0.044256
2025-01-02   -0.037603   -0.009476    0.004900   -0.004498    0.041212
2025-01-03   -0.046097    0.008554    0.006588   -0.006659    0.002922

            0001745999  0000009389  0001674862  0000006201  0001097149  ...  \
Date                                                                    ...
2000-01-03   -0.151792    0.033902    0.003802   -0.040723   -0.244931  ...
2000-01-04   -0.151792   -0.001593   -0.009625   -0.040723   -0.244931  ...
2000-01-05   -0.151792    0.006300    0.029100   -0.040723   -0.244931  ...
2000-01-06   -0.151792    0.008110    0.078210   -0.040723   -0.244931  ...
2000-01-07   -0.151792   -0.016026    0.054679   -0.040723   -0.244931  ...
...                ...         ...         ...         ...         ...  ...
2024-12-27   -0.066206    0.003050    0.005886    0.016270   -0.000567  ...
2024-12-30   -0.071822   -0.001074   -0.001257    0.009265   -0.005001  ...
2024-12-31   -0.057203   -0.006329    0.004488    0.009222    0.002545  ...
2025-01-02   -0.029912   -0.014045   -0.022263   -0.036389    0.000816  ...
2025-01-03    0.022312   -0.030620   -0.019975   -0.025023   -0.016714  ...

            0000906345    0000922224  0000922864  0000073124  0001137789  \
Date
2000-01-03    0.043735  0.000000e+00   -0.003135   -0.023311   -0.006981
2000-01-04   -0.030554  1.353244e-02   -0.048318   -0.085607   -0.006981
2000-01-05    0.002344  2.762565e-02    0.016314   -0.007585   -0.006981
2000-01-06    0.037475  2.710184e-02    0.040822    0.048790   -0.006981
2000-01-07    0.042260  2.747577e-07    0.032523    0.034420   -0.006981
...                ...           ...         ...         ...         ...
2024-12-27   -0.004330 -1.843361e-03    0.010876    0.004440   -0.015217
2024-12-30   -0.005970  3.696829e-03    0.003612   -0.000866   -0.006274
2024-12-31    0.014846  1.541521e-03    0.089715    0.001367   -0.004278
2025-01-02   -0.009114 -8.355316e-03    0.028013   -0.001455   -0.002312
2025-01-03    0.012117 -9.560639e-03   -0.011062   -0.002128    0.022001

            0001675149  0000073309  0001666700  0001059556  0001174922
Date
2000-01-03    0.026709    0.012622    0.021750    0.000000    0.000769
2000-01-04    0.035506    0.007950   -0.005150   -0.070204    0.000769
2000-01-05    0.047503    0.027274    0.051990   -0.047347    0.000769
2000-01-06    0.039930    0.042220    0.080378    0.005935    0.000769
2000-01-07   -0.016118    0.014632    0.051294    0.023954    0.000769
...                ...         ...         ...         ...         ...
2024-12-27   -0.022567    0.004786   -0.002476   -0.002074   -0.003714
2024-12-30   -0.007667   -0.006883   -0.001565   -0.002346    0.000226
2024-12-31    0.014128    0.004587    0.002889    0.002242   -0.014289
2025-01-02    0.019940   -0.012931   -0.010025   -0.008088   -0.025100
2025-01-03   -0.066488   -0.020151   -0.025100    0.008994   -0.035489

[6291 rows x 614 columns]
x2_test             0000832988  0001652044  0000100885  0000092122  0000717423  \
Date
2000-01-03    0.000240    0.002368    0.000196    0.000109    0.000034
2000-01-04    0.000242    0.002368    0.000273    0.000127    0.000165
2000-01-05    0.000142    0.002368    0.000237    0.000143    0.000409
2000-01-06    0.000023    0.002368    0.000168    0.000462    0.000454
2000-01-07    0.000047    0.002368    0.000626    0.000441    0.000332
...                ...         ...         ...         ...         ...
2024-12-27    0.000235    0.000111    0.000056    0.000035    0.000153
2024-12-30    0.000200    0.000109    0.000065    0.000032    0.000135
2024-12-31    0.000209    0.000129    0.000057    0.000043    0.000217
2025-01-02    0.000152    0.000156    0.000060    0.000058    0.000233
2025-01-03    0.000474    0.000149    0.000046    0.000063    0.000247

            0001745999  0000009389  0001674862  0000006201  0001097149  ...  \
Date                                                                    ...
2000-01-03    0.034382    0.000546    0.000139    0.004663    0.004576  ...
2000-01-04    0.034382    0.000337    0.000129    0.004663    0.004576  ...
2000-01-05    0.034382    0.000536    0.000113    0.004663    0.004576  ...
2000-01-06    0.034382    0.000494    0.000266    0.004663    0.004576  ...
2000-01-07    0.034382    0.000503    0.000302    0.004663    0.004576  ...
...                ...         ...         ...         ...         ...  ...
2024-12-27    0.000674    0.000053    0.000137    0.000242    0.000307  ...
2024-12-30    0.001315    0.000071    0.000117    0.000232    0.000256  ...
2024-12-31    0.001628    0.000082    0.000123    0.000236    0.000201  ...
2025-01-02    0.001517    0.000075    0.000089    0.000251    0.000139  ...
2025-01-03    0.000800    0.000137    0.000292    0.000455    0.000265  ...

            0000906345  0000922224  0000922864  0000073124  0001137789  \
Date
2000-01-03    0.000353    0.000122    0.000143    0.000321    0.001502
2000-01-04    0.000405    0.000279    0.000442    0.000754    0.001502
2000-01-05    0.000575    0.000393    0.000374    0.000993    0.001502
2000-01-06    0.000353    0.000608    0.000386    0.001209    0.001502
2000-01-07    0.000432    0.000554    0.000139    0.000889    0.001502
...                ...         ...         ...         ...         ...
2024-12-27    0.000051    0.000032    0.000074    0.000093    0.000062
2024-12-30    0.000057    0.000037    0.000106    0.000098    0.000087
2024-12-31    0.000067    0.000045    0.000223    0.000100    0.000110
2025-01-02    0.000080    0.000056    0.000512    0.000083    0.000130
2025-01-03    0.000085    0.000077    0.000504    0.000095    0.000127

            0001675149  0000073309  0001666700  0001059556  0001174922
Date
2000-01-03    0.000224    0.000142    0.000365    0.000046    0.000192
2000-01-04    0.000381    0.000184    0.000282    0.000094    0.000192
2000-01-05    0.000340    0.000249    0.000189    0.000281    0.000192
2000-01-06    0.000742    0.000335    0.000235    0.000375    0.000192
2000-01-07    0.000600    0.000303    0.000706    0.000330    0.000192
...                ...         ...         ...         ...         ...
2024-12-27    0.000209    0.000172    0.000043    0.000092    0.000127
2024-12-30    0.000146    0.000247    0.000068    0.000054    0.000110
2024-12-31    0.000170    0.000227    0.000069    0.000061    0.000133
2025-01-02    0.000224    0.000166    0.000072    0.000064    0.000112
2025-01-03    0.000282    0.000220    0.000077    0.000091    0.000307

[6291 rows x 614 columns]

x1_test Date
2000-01-03  0000832988   -0.015625
            0001652044    0.079828
            0000100885    0.014409
            0000092122   -0.002656
            0000717423   -0.006515
                            ...
2025-01-03  0001675149   -0.066488
            0000073309   -0.020151
            0001666700   -0.025100
            0001059556    0.008994
            0001174922   -0.035489
Length: 3862674, dtype: float64
x2_test Date
2000-01-03  0000832988    0.000240
            0001652044    0.002368
            0000100885    0.000196
            0000092122    0.000109
            0000717423    0.000034
                            ...
2025-01-03  0001675149    0.000282
            0000073309    0.000220
            0001666700    0.000077
            0001059556    0.000091
            0001174922    0.000307
Length: 3862674, dtype: float64
Test passed successfully!

In [57]:
print(df_add_test.shape)
df_add_test.head()

(3862674, 4)

         Date        _cik     n_ret     n_vol
0  2000-01-03  0000832988 -0.015625  0.000240
1  2000-01-03  0001652044  0.079828  0.002368
2  2000-01-03  0000100885  0.014409  0.000196
3  2000-01-03  0000092122 -0.002656  0.000109
4  2000-01-03  0000717423 -0.006515  0.000034

In [53]:
INPUT_FILE_PATH = "/Users/apple/PROJECT/hons_project/data/SP500/SEC/SEC_DTM_SP500.parquet"
df_dtm = pd.read_parquet(INPUT_FILE_PATH)

In [58]:
print(df_dtm.shape)
df_dtm.head()

(25925, 14137)

,Date,_cik,_vol,_ret,_vol+1,_ret+1,united,state,security,exchange,...,sorption,scroll,hermetic,xenon,glassware,preparative,stepwise,chiral,partitioning,craven
0,2015-12-17,0001645590,0.000177,5.310938e-02,0.000265,0.007738,50.0,77.0,142.0,72.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2016-12-15,0001645590,0.000284,-3.527520e-03,0.000106,0.005942,42.0,69.0,126.0,67.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2017-12-15,0001645590,0.000075,-6.130593e-08,0.000418,-0.030667,32.0,65.0,93.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2018-12-12,0001645590,0.000250,5.505984e-02,0.000402,0.010982,27.0,62.0,90.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2019-12-13,0001645590,0.000162,-1.762709e-02,0.000108,0.001864,30.0,77.0,99.0,66.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
df_merged = df_dtm.merge(df_add_test, how='left', left_on=['Date', '_cik'], right_on=['Date', '_cik'])
print(df_merged.shape)
# Ensure merging is successful
assert df_dtm.shape[0] == df_merged.shape[0], 'Mismatch in row count after merging!'

(25925, 14139)

In [62]:
df_merged['_ret'], df_merged['_vol'] = df_merged['n_ret'], df_merged['n_vol']
df_merged.drop(columns=['n_ret', 'n_vol'], inplace=True)  # Clean up
df_merged.head()

,Date,_cik,_vol,_ret,_vol+1,_ret+1,united,state,security,exchange,...,sorption,scroll,hermetic,xenon,glassware,preparative,stepwise,chiral,partitioning,craven
0,2015-12-17,0001645590,0.000374,-0.031969,0.000265,0.007738,50.0,77.0,142.0,72.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2016-12-15,0001645590,0.000191,-0.010587,0.000106,0.005942,42.0,69.0,126.0,67.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2017-12-15,0001645590,0.000073,0.007663,0.000418,-0.030667,32.0,65.0,93.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2018-12-12,0001645590,0.001240,-0.006192,0.000402,0.010982,27.0,62.0,90.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2019-12-13,0001645590,0.000210,0.010031,0.000108,0.001864,30.0,77.0,99.0,66.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [78]:
df_path = "/Users/apple/PROJECT/hons_project/data/SP500/analysis_reports/dtm/analysis_report_DTM_SP500.parquet"
df = pd.read_parquet(df_path)
df.head()

,Date,_cik,_vol,_ret,_vol+1,_ret+1,p,em,fry,author,...,mediterranean,panorama,barbary,ape,retrospective,unfolded,wed,pensive,haired,wander
0,2007-01-04,0001326380,0.000355,-0.017510,0.000065,-0.001443,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2007-05-31,0001326380,0.000064,-0.021888,0.000112,-0.014435,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2007-08-23,0001326380,0.000135,-0.007914,0.001128,-0.021058,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2007-09-28,0001326380,0.000089,0.000188,0.000547,0.010276,4.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2007-11-20,0001326380,0.000162,0.032934,0.000349,0.019477,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [79]:
df.shape

(91588, 13547)

In [80]:
df_path = "/Users/apple/PROJECT/hons_project/data/SP500/analysis_reports/dtm/analysis_report_DTM_SP500_2.parquet"
df2 = pd.read_parquet(df_path)
print(df2.shape)
df2.head()

(91588, 13547)

,Date,_cik,_vol,_ret,_vol+1,_ret+1,p,em,fry,author,...,mediterranean,panorama,barbary,ape,retrospective,unfolded,wed,pensive,haired,wander
0,2007-01-04,0001326380,0.000232,0.004696,0.000065,-0.001443,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2007-05-31,0001326380,0.000205,0.027170,0.000112,-0.014435,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2007-08-23,0001326380,0.000727,0.070612,0.001128,-0.021058,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2007-09-28,0001326380,0.000565,-0.012521,0.000547,0.010276,4.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2007-11-20,0001326380,0.002731,-0.000203,0.000349,0.019477,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0