In [2]:
import os
import pandas as pd
from tqdm import tqdm

In [3]:
ten_k_data_dir = "/Users/apple/PROJECT/Code_4_SECfilings/fillings/company_df"
# get all the files in the directory
ten_k_files = os.listdir(ten_k_data_dir)

ten_k_reports = []

for file in tqdm(ten_k_files):
    if file.endswith('.csv'):
        ten_k_reports.append(pd.read_csv(os.path.join(ten_k_data_dir, file)))

ten_k_reports = pd.concat(ten_k_reports)
# reset index
ten_k_reports.reset_index(drop=True, inplace=True)
# rename "Name" column to "symbol", "Date" to "date", "Body" to "10K_text"
ten_k_reports.rename(columns={"Name": "symbol", "Date": "date", "Body": "10k_text"}, inplace=True)

python(49925) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.
100%|██████████| 94/94 [00:06<00:00, 13.55it/s]

In [8]:
ten_k_reports

,symbol,CIK,date,10k_text
0,DXCM,1093557,2006-02-27,10-K 1 a06-5268_210k.htm ANNUAL REPORT PURSUAN...
1,DXCM,1093557,2007-02-27,10-K 1 a07-5390_110k.htm 10-K [heading]UNITED ...
2,DXCM,1093557,2008-03-11,10-K 1 d10k.htm FORM 10-K Form 10-K Table of C...
3,DXCM,1093557,2009-03-05,10-K 1 d10k.htm FORM 10-K Form 10-K Table of C...
4,DXCM,1093557,2010-03-09,10-K 1 d10k.htm FORM 10-K Form 10-K Table of C...
...,...,...,...,...
1391,ADBE,796343,2019-01-25,10-K 1 adbe10kfy18.htm 10-K Document [heading]...
1392,ADBE,796343,2020-01-21,10-K 1 adbe10kfy19.htm 10-K Document 1.00 over...
1393,ADBE,796343,2021-01-15,10-K 1 adbe-20201127.htm 10-K adbe-20201127 00...
1394,ADBE,796343,2022-01-21,10-K 1 adbe-20211203.htm 10-K adbe-20211203 00...
1395,ADBE,796343,2023-01-17,10-K 1 adbe-20221202.htm 10-K adbe-20221202 00...

In [9]:
ten_k_reports.to_parquet("NASDAQ_100_10-K.parquet")

In [5]:
ten_q_data_dir = "sector_10-Q_all_txt/company_df"

ten_q_files = os.listdir(ten_q_data_dir)

ten_q_reports = []

for file in tqdm(ten_q_files):
    if file.endswith('.csv'):
        ten_q_reports.append(pd.read_csv(os.path.join(ten_q_data_dir, file)))

ten_q_reports = pd.concat(ten_q_reports)
# reset index
ten_q_reports.reset_index(drop=True, inplace=True)
# rename "Name" column to "symbol", "Date" to "date", "Body" to "10Q_text"
ten_q_reports.rename(columns={"Name": "symbol", "Date": "date", "Body": "10q_text"}, inplace=True)

100%|██████████| 81/81 [00:01<00:00, 57.34it/s]

In [6]:
ten_q_reports

,Name,CIK,Date,Body
0,AMD,2488,2015-07-30,EX-10.1 2 sv-1591870xv1amdxwsaamendm.htm EXHIB...
1,AMD,2488,2015-11-03,10-Q 1 amd0926201510q.htm 10-Q 10-Q [heading]U...
2,AMD,2488,2016-04-28,10-Q 1 amd0326201610q.htm AMD Q1'16 10-Q 10-Q ...
3,AMD,2488,2016-07-26,10-Q 1 amd0625201610q.htm 10-Q Document [headi...
4,AMD,2488,2016-10-26,10-Q 1 amd0924201610q.htm 10-Q Document [headi...
...,...,...,...,...
1954,GEHC,1932393,2023-04-25,NaN
1955,GEHC,1932393,2023-07-25,NaN
1956,GEHC,1932393,2023-10-31,NaN
1957,GEHC,1932393,2024-04-30,NaN
1958,GEHC,1932393,2024-07-31,NaN

In [ ]:
ten_q_reports.to_parquet("NASDAQ_100_10-Q.parquet")